@model Example.profiles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>profiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_groups.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_groups.code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_profile }) |
    @Html.ActionLink("Back to List", "Index")
</p>
